.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  justify-items: center;
}

.container > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container button {
  grid-column: span 2;
}
